<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:include="common/head :: common_css(title='도서관행사')"></meta>
    <style>
	th {
	    text-align: center;
	    vertical-align: middle !important;
	    
	}
	td {
	    text-align: center;
	   	vertical-align: middle !important; 
	    
	}
	</style>
</head>

<body class="horizontal-nav boxed skin-megna fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">UJBLib admin</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- Top Header -->
        <header th:replace="common/menu-header :: common"></header>
        
        <!-- Left Menu-->
        <aside th:replace="common/menu-aside :: common (menuCd1=dashboard, menuCd2=dashboard)"></aside>

        <!-- Page Content : Start { -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">독서회 </h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item">독서회 </li>
                                <li class="breadcrumb-item active">독서회 리스트</li>
                            </ol>
                        </div>
                    </div>
                </div>
               	<form method="post" id="mainForm" name="mainForm" th:action="@{'/event/reading-club-lecture/save'}"   th:object="${lecture}">
				<input type="hidden" id="id" name="id"  th:value="${lecture.id}" />
               	<input type="hidden" id="ProgType"  name="ProgType"  th:value="READING_CLUB" />               	
               	<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">독서회 등록</h>
                                <h6 class="card-subtitle"></h6>
                                <div class="table-responsive">
                                    <table id="EduLifeTB" class="table table-bordered m-b-0">
                                        <tbody>
                                            <tr >
												<th class="table-active" style="width:200px">연도</th>
												<td class="pYear">
												<select class="form-control" id="pYear" name="pYear">
			               							<option th:each="y : ${pYears}" th:value="${y}" th:text="${y}" th:selected="${y.equals(lecture.pYear)}"></option>
			               						</select>
												</td>
											</tr>
											<tr >
												<th class="table-active" >구분 </th>
												<td>
													<div class="custom-control custom-radio"  style="margin-left:10px; float:left;">
                                                        		<input type="radio" id="HalfTypeY" name="HalfType" class="custom-control-input" value="연중"  th:checked="${null != lecture.HalfType and (lecture.HalfType == '연중')}" />
                                                        		<label class="custom-control-label" for="HalfTypeY">연중</label>
													</div>
													<div class="custom-control custom-radio"  style="margin-left:10px; float:left;">
                                                        		<input type="radio" id="HalfTypeF" name="HalfType" class="custom-control-input" value="상반기" th:checked="${null != lecture.HalfType and (lecture.HalfType == '상반기')}" />
                                                        		<label class="custom-control-label" for="HalfTypeF">상반기</label>
													</div>
													<div class="custom-control custom-radio" style="margin-left:10px; float:left;">
                                                       			<input type="radio" id="HalfTypeS" name="HalfType" class="custom-control-input" value="하반기" th:checked="${null != lecture.HalfType and (lecture.HalfType == '하반기')}" />
                                                        		<label class="custom-control-label" for="HalfTypeS">하반기</label>
													</div>
												</td>
											</tr>
											
											<tr >
												<th class="table-active" >강좌명</th>
												<td class="ProgNm"><input type="text" class="form-control"  id="LectureNm" name="LectureNm" th:value="${lecture.LectureNm}"  required /> </td>
											</tr>
											
											<tr >
												<th class="table-active" >교육시작일</th>
												<td class="EduStartDt"><input type="text" class="form-control"  id="EduStartDt" name="EduStartDt" th:value="${lecture.EduStartDt}"  required/></td>
											</tr>
											<tr >
												<th class="table-active" >교육 종료일</th>
												<td class="EduEndDt"><input type="text" class="form-control"  id="EduEndDt" name="EduEndDt" th:value="${lecture.EduEndDt}"  required/></td>
											</tr>
											
											<tr >
												<th class="table-active" >운영요일 </th>
												<td  class="OpWeek">
												<select class="form-control" id="OpWeek" name="OpWeek">
			               								<option th:each=" w: ${OpWeeks}" th:value="${w}" th:text="${w}" th:selected="${w.equals(lecture.OpWeek)}"></option>
			               							</select>
												</td>
											</tr>
											
                                        </tbody>
                                    </table>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/form body-->
                <div class="form-actions">
                	<th:block th:each="result : ${session.menus}" th:object="${result}" th:if="${result.menuId == 12 and result.updateYn}">
                    	<button type="submit" class="btn btn-success" id="btnSave"> <i class="fa fa-check"></i> 저장</button>
					<button type="button" class="btn btn-danger" id="btnDelete"> <i class="fa fa-check"></i> 삭제</button>
                    	
                    </th:block>
                    <button type="button" class="btn btn-inverse" onClick="history.go(-1); return false;">목록 </button>
                </div>
                </form>
                
                 
            </div>
        </div>
    </div>
        <!-- } Page Content : End -->
        <!-- footer -->
        <footer th:replace="common/footer :: footer" ></footer>
        
    <!-- } Wrapper : End -->
    
    <section th:replace="common/js :: js"></section>
    <section th:replace="common/modal-popup :: modal('TK')"></section>
    
    <!-- Editable -->
    <script src="/elite/assets/node_modules/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="/elite/assets/node_modules/datatables/dataTables.bootstrap.js"></script>
    <script src="/elite/assets/node_modules/tiny-editable/mindmup-editabletable.js"></script>
    <script src="/elite/assets/node_modules/tiny-editable/numeric-input-example.js"></script>
    <script>
    
    
    $(document).ready(function() {
    	btnDelete();
    });
    
    $('#EduStartDt').datepicker({
        autoclose: true,
        todayHighlight: true,
        format:'yyyy-mm-dd',
        language:'ko'
    });
    
    $('#EduEndDt').datepicker({
        autoclose: true,
        todayHighlight: true,
        format:'yyyy-mm-dd',
        language:'ko'
    });
    
    var btnDelete = function(){
 	   $("#btnDelete").click(function () {
  		  if(confirm("독서회를 삭제하면 해당 실적까지 삭제됩니다.\r\n삭제하시겠습니까?")){
	 		   var eventData = {id:$("#id").val()};
	 		   $.ajax({
	 				url : "/event/reading-club-lecture/delete/"+$("#id").val(),
	 				data: eventData,
	 				method : "put",
	 				success : function(result) {
	 					alert("삭제되었습니다. .");
	 					$('#responsive-modal').modal('hide');
	 					location.reload();
	
	 				},
	 				error : function(data) {
	 					console.error("Update snapshot", data);
	 				}
	 		    });
	 		   
	 		   location.href="/event/reading-club-lecture/"+$("#pYear").val();
 		  		}
		});
	}
    </script>
</body>

</html>
